* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-nav {
    background-color: #9EB8D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}
.menu-button {
    height: 40px;
    width: 40px;
    display: none;
}
.menu-button img {
    height: 100%;
    width: 100%;
}
.close-btn {
    height: 40px;
    width: 40px;
}
.close-btn img {
    height: 100%;
    width: 100%;
}
ul {
    display: flex;
}
li {
    list-style-type: none;
}
li a {
    text-decoration: none;
    font-size: 16px;
    margin: 2rem;
    padding: 0.3em;
    font-family: "Inria Sans",sans-serif;
    font-weight: 500;
    color: black;
    border-radius: 0.5rem;
}
a:hover {
    background-color: white;
}
.hero-section {
    margin: 4rem;
}
h1 {
    font-size: 60px;
    font-family: "Island Moments", cursive;
    font-weight: 500;
    font-style: normal;
}
p {
    font-size: 16.5px;
    margin: 1.5em 0em 3em 0em;
    font-family: "Inria Sans",sans-serif;
    font-weight: 500;
    color: black;
    line-height: 1.6;
}
.contactBtn {
    height: 2.5rem;
    width: 7rem;
    border-radius: 2em;
    font-size: 17px;
    font-family: "Inria Sans",sans-serif;
    font-weight: 500;
    color: black;
    cursor: pointer;
    box-shadow: 0.05rem 0.05rem black;
}
.contactBtn:hover {
    background-color: #9EB8D9;
    color: white;
}
footer {
    display: flex;
    justify-content:center ;
}
.footer-icon-container {
    height: 35px;
    width: 35px;
    border-radius: 2rem;
    margin: 1rem;
}
.footer-icon-container a img {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}
.footer-icon-container a :hover {
    border: 0.2rem solid  #9EB8D9;
}

.side-nav {
    display: none;
    max-height:100vh ;
    width: 13rem;
    height: 100vh;
    align-items: flex-start;
}
.side-nav ul {
    display: flex;
    flex-direction: column;
}
.side-nav ul li {
    margin-bottom: 2rem;
}
h5 {
    display: none;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #9EB8D9;
    width: 17rem;
    height: 31rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    font-family: "Inria Sans",sans-serif;
    font-weight: 500;
}
h2 {
    text-align: center;
}
form input {
    width: 14rem;
    height: 2rem;
    padding: 0.4rem;
}
form button {
    height: 2rem;
    margin-top: 0.7rem;
    width: 6rem;
    cursor: pointer;
    border-radius: 0.4rem;
}
form button:hover {
    background-color: #9EB8D9;
    color: white;
}
label {
    align-self: self-start;
    margin-left: 1.5rem;
    margin-bottom: 0.4rem;
}
textarea {
    padding: 0.4rem;
    width: 14rem;
    height: 10rem;
    resize: vertical;
}
.close-popup {
    width: 1.5rem;
    height: 1.5rem;
    align-self: end;
    margin: 0.5rem;
}
.close-popup img {
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 0.3rem;
}

@media (max-width: 430px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-nav ul {
        display: none;

    }
    .main-nav {
        justify-content: space-between;
    }
    .side-nav {
        position: absolute;
            right: 0;
        /* display: flex; */
        z-index: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .side-nav ul {
        display: block;
        text-align: center;
        margin-top: 3rem;
    }
    .menu-button {
        display: block;
        margin-right: 2rem;
    }
    h5 {
        display: block;
        margin-left: 2rem;
    }
    footer {
        margin-top: 5rem;
    }
    .close-btn {
        margin: 0;
    }
}