
main {
    display: flex;
    justify-content: center;
    gap: 4rem;
    max-width: 1440px;
}
.music-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
    /* margin-top: 1rem; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* width: 18rem; */
    height: 25rem;
    border-radius: 0.3rem;
    font-family: "Inria Sans",sans-serif;
    font-weight: 500;
}
.right-side {
    margin-top: 1.5em;
}
.song-cover {
    height: 13rem;
    width: 13rem;
    border: 0.2rem solid rgb(66, 57, 57);
}
.song-cover img {
    height: 100%;
    width: 100%;
}
.text {
    font-size: 15px;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.song-name {
    font-weight: 600;
}
.link-headertext {
    margin-top: 1.5em;
    /* margin-bottom: 1.5em; */
    font-size: 15px;
}
.icon-img {
    height: 2rem;
    width: 2rem;
    border-radius: 0.3rem;
    box-shadow: 0.05rem 0.05rem white;
    /* margin: 1rem; */
}
.icon-img img{
    height: 100%;
    width: 100%;
}
.link {
    display: flex;
    align-items: center;
    background-color: #9EB8D9;
    /* width: 13rem; */
    height: 3rem;
    cursor: pointer;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    box-shadow: 0.05rem 0.05rem black;
    transition: transform 0.2s linear;
}
.a-link {
    text-decoration: none;
}
.link:hover {
    transform: translateX(0.3rem);
    border: 1rem solid #9EB8D9;
}
.link div,p {
    margin: 0.5rem;
}
.singles a {
    font-size: 15px;
    padding: 0.1em;
    width: fit-content;
    font-family: "Inria Sans",sans-serif;
    font-weight: 500;
    transition: background-color 0.2s linear;
}
.link p {
    font-size: 15px;
}
.links-of-songs {
    background-color: #9EB8D9;
    width: 12rem;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 3rem;
    
}
.links-of-songs h4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: "Inria Sans",sans-serif;
    font-weight: 600;
}
.first-h2 {
    margin-top: 2rem;
  }

.links-of-songs {
    font-family: "Inria Sans",sans-serif;
    font-weight: 500;
}
.links-of-songs div a {
    transition: background-color 0.2s linear;
}
.singles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.albums {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.albums a {
    font-size: 15px;
    padding: 0.1em;
    width: fit-content;
    font-family: "Inria Sans",sans-serif;
    font-weight: 500;
    transition: background-color 0.2s linear;
}

@media (max-width:768px) {
    main {
        flex-direction: column;
        justify-content: space-between;
        gap: 5rem;
        align-items: center;
    }
    .links-of-songs {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .albums {
        justify-content: flex-start;
    }
    .forward {
        margin-left: 0;
    }
    .backward {
        margin-right: 0;
    }
    
}


@media (max-width: 430px) {
    main {
        flex-direction: column;
        justify-content: space-between;
        gap: 25rem;
        align-items: center;
    }
    .music-link {
        display: flex;
        flex-direction: column;
    }
    .song-cover {
        width: 20rem;
        height: 20rem;
    }
    .right-side {
        width: 20rem;
        margin-bottom: 4rem;
    }
    .song-container {
        margin-top: 25rem;
    }
    .link-headertext {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        font-size: 16px;
    }
    .links-of-songs {
        width: 20rem;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
    }
}


@media (max-width: 360px) {
    .links-of-songs {
        width: 17rem;
        display: flex;
        flex-direction: column;
    }
    .song-cover {
        width: 17rem;
        height: 17rem;
    }
    .right-side {
        width: 17rem;
    }
    .link-headertext {
        margin-top: 1.5em;
        /* margin-bottom: 1.5em; */
        font-size: 15px;
    }
}

