* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
}
    
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    margin-top: 2rem;
}

.arrows {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #a2bcdf ;
    transition: background-color 0.2s ease;
    
}
.arrows:hover {
    background-color: #537db3;
}
.backward {
    margin-right: 5rem;
}
.forward {
    margin-left: 5rem;
}

.slides {
    display: flex;
}
.slide {
    display: none;
}

.showSlide {
    display: block;
}


@media screen and (max-width: 900px) {
    .forward {
        margin-left: .5rem;
    }
    .backward {
        margin-right: .5rem;
    }

}


@media screen and (max-width: 800px) {
    .forward {
        position: absolute;
        top: 55%;
        right: 30%;
    }
    .backward {
        position: absolute;
        top: 55%;
        left: 30%;
    }
    iframe {
        width: 500px;
        height: 300px;
    }
}



@media screen and (max-width: 600px) {
    .forward {
        position: absolute;
        top: 55%;
        right: 30%;
    }
    .backward {
        position: absolute;
        top: 55%;
        left: 30%;
    }
    iframe {
        width: 350px;
        height: 255px;
    }
}

@media screen and (max-width: 430px) {
    .forward {
        position: absolute;
        top: 54%;
        right: 27%;
    }
    .backward {
        position: absolute;
        top: 54%;
        left: 27%;
    }
    iframe {
        width: 350px;
        height: 255px;
    }
}



@media screen and (max-width:350px) {
    .forward {
        position: absolute;
        right: 28%;
    }
    .backward {
        position: absolute;
        left: 28%;
    }
    iframe {
        width: 280px;
        height: 225px;
    } 
}



